


@media only screen and (max-width: 688px) {
   
    .nav-container{
        width: 100%;
        flex-direction: column;
    }
    .container{
        flex-direction: column;
    }
    .logos{
        grid-template-columns: repeat(1, 1fr);
        flex-direction: column;
    }
    .products{
        grid-template-columns: repeat(1, 1fr);
        flex-direction: column;
    }
    .products-heading{
        flex-direction: column;
        
    }
}

@media only screen and (min-width: 688px) and (max-width: 992px) {
    .logos{
        grid-template-columns: repeat(2, 1fr);
        flex-direction: column;

    }
    .products{
        grid-template-columns: repeat(2, 1fr);
        flex-direction: column;

    }
    
}